<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>App1</servlet-name>
  	<display-name>App1</display-name>
  	<description></description>
  	<servlet-class>com.monami.jdbcc1.App1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeRepositoryImpl</servlet-name>
  	<display-name>EmployeeRepositoryImpl</display-name>
  	<description></description>
  	<servlet-class>com.java.repository.EmployeeRepositoryImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IPlayerRepository</servlet-name>
  	<display-name>IPlayerRepository</display-name>
  	<description></description>
  	<servlet-class>com.java.repository.IPlayerRepository</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlayerServiceImpl</servlet-name>
  	<display-name>PlayerServiceImpl</display-name>
  	<description></description>
  	<servlet-class>com.java.service.PlayerServiceImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IPlayerService</servlet-name>
  	<display-name>IPlayerService</display-name>
  	<description></description>
  	<servlet-class>com.java.service.IPlayerService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Player</servlet-name>
  	<display-name>Player</display-name>
  	<description></description>
  	<servlet-class>com.java.model.Player</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestConnection</servlet-name>
  	<display-name>TestConnection</display-name>
  	<description></description>
  	<servlet-class>com.java.connection.TestConnection</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Connection</servlet-name>
  	<display-name>Connection</display-name>
  	<description></description>
  	<servlet-class>com.java.connection.Connection</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PlayerQueries</servlet-name>
  	<display-name>PlayerQueries</display-name>
  	<description></description>
  	<servlet-class>com.java.connection.PlayerQueries</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>App1</servlet-name>
  	<url-pattern>/app1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeRepositoryImpl</servlet-name>
  	<url-pattern>/employeerepositoryimpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IPlayerRepository</servlet-name>
  	<url-pattern>/iplayerrepository</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlayerServiceImpl</servlet-name>
  	<url-pattern>/playerserviceimpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IPlayerService</servlet-name>
  	<url-pattern>/iplayerservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Player</servlet-name>
  	<url-pattern>/player</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestConnection</servlet-name>
  	<url-pattern>/testconnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Connection</servlet-name>
  	<url-pattern>/connection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PlayerQueries</servlet-name>
  	<url-pattern>/playerqueries</url-pattern>
  </servlet-mapping>
</web-app>
